@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
$main: #5a3588;

// GLOBAL HTML ELEMENTS
html {
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  overflow-x: auto;
}

// NAVBAR ELEMENTS
.navBar {
  width: 100%;
  min-width: 350px;
  height: 5vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: $main;
  & .navBarItem {
    width: 33%;
    display: flex;
    opacity: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & .flag {
      height: 3vh;
      width: 3vh;
      padding-right: 2vh;
      cursor: pointer;
      &.sound {
        height: 2.5vh;
        width: 2.5vh;
      }
    }
    & a {
      text-decoration: none;
      color: white;
      font-size: 1.9vh;
      font-family: "Zilla Slab";
    }
  }
}

// WELCOME PAGE
.welcome-page {
	width: 100%;
	height: calc(100% - 5vh);
	display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background: rgb(43,0,35);
  background: radial-gradient(circle, rgba(43,0,35,1), rgba(0,13,29,1));
  background-size: 100% 100%;
  background-attachment: fixed;
  & .rules {
    opacity: 70%;
    font-size: 2.25vh;
    font-family: "Zilla Slab";
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    & .rules-block-label{
      text-align: center;
      width: 100%;
      font-size: 3vh;
    }
    & .rules_block {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      border: dotted 0.05vh white;
      padding: 2vh;
      & .rules-oneliner {
        font-size: 2vh;
      }
      & .rules_illustration{
        font-size: 2vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & .rules-card{
          height: 6vh;
          padding: 1vh;
        }
        & .rules-back-card{
          height: 6vh;
          padding: 0.2vh;
          &.first {
            padding-left: 1vh;
          }
          &.last {
            padding-right: 1vh;
          }
        }
      }
    }
    & li {
      list-style-type: circle;
      color: white;;
    }
  }
  & .depth_info {
    display: flex;
    height: fit-content;
    width: 70%;
    justify-content: center;
    padding-top: 3vh;
    align-items: center;
    & .depthLabel {
      position: relative;
      color: white;
      font-size: 2em;
      width: 20%;
      opacity: 70%;
      font-family: "Zilla Slab";
    }
    & .depth-btns {
      display: flex;
      flex-direction: row;
      width: 80%;
      & .depth-btn {
        display: flex;
        height: fit-content;
        width: 20%;
        align-items: center;
        justify-content: center;
        background: $main;
        border-radius: 6px;
        box-sizing: border-box;
        color: white;
        font-size: 1.4em;
        margin-left: 0.4em;
        cursor: pointer;
        border: none;
        opacity: 50%;
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: "Zilla Slab";
        &.active {
          opacity: 100%;
        }
      }
    }
  }
  & .form__group{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 70%;
    font-family: "Zilla Slab";
    & .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid white;
      outline: 0;
      font-size: 2em;
      color: white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
      text-decoration: none;
      opacity: 70%;
    }
    & .form__field:focus {
      padding-bottom: 6px;  
      border-width: 3px;
      border-image: linear-gradient(to right, rgb(115, 75, 141),$main);
      border-image-slice: 1;
    }
  }
  & .recycler{
    max-height: 50%;
    opacity: 70%;
    border-bottom: 0.2vh solid white;
    & .roomItemList{
      padding: 0.5vw 0.5vh;
      border-bottom: 0.2vh solid white;
      border-left: 0.2vh solid white;
      border-right: 0.2vh solid white;
    }
    & .roomFilters{
      display: flex;
      flex-direction: row;
      & .roomFilter {
        width: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        font-family: "Zilla Slab";
      }
    }
    & .roomLabelItemList{
      border: 0.2vh solid white;
    }
    & .roomLabelItemList, .roomItemList{
      display: flex;
      flex-direction: row;
      & .listItem{
        width: 33%;
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        font-family: "Zilla Slab";
        text-overflow: ellipsis;
        font-size: 2vh;
        &.listItemFullSize{
          width: 100%;
          border-bottom: 0;
        }
        &.item-join-c {
          justify-content: flex-end;
          & .join-game{
            background: $main;
            border-radius: 6px;
            box-sizing: border-box;
            color: white;
            line-height: 3vh;
            font-size: 2vh;
            width: 5em;
            cursor: pointer;
            border: none;
            opacity: 70%;
            display: block;
            text-align: center;
            text-decoration: none;
            font-family: "Zilla Slab";
            }
          }
        }
        &.listItemName{
          justify-content: flex-start;
        }
      }
      & .listItem::before, .listItem::after {
        content: '';  /* Insert pseudo-element */
        margin: auto; /* Make it push flex items to the center */
      }
    & .roomItemList{
      display: flex;
      flex-direction: row;
      padding: 0.5vw 0.5vh;
      border-bottom: 0.2vh solid white;
    }
  }
  & .home-page-buttons {
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    & .start-game {
      background: $main;
      border-radius: 6px;
      box-sizing: border-box;
      color: white;
      line-height: 4.5vh;
      margin: 1.5vh;
      font-size: 3vh;
      width: 6.75em;
      cursor: pointer;
      border: none;
      opacity: 50%;
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: "Zilla Slab";
    }
  }
  & .statusFilterVal{
    display: none;
  }
  & .rumble-title, .rules-title {
    height: 25%;
    text-transform: capitalize;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5vh;
    opacity: 70%;
    font-family: "Zilla Slab";
  }
  & .rules-title {
    height: fit-content;
  }
  & .overlay-home{
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: transparent;
    opacity: 80%;
    display: none;
    flex-direction: column;
    & .home-content {
      display: flex;
      background: $main;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Zilla Slab";
      flex-direction: row;
      font-size: 2.25vh;
      color: white;
      &.big {
        font-size: 4vh;
      }
      &.formPadded{
        padding: 9px;
      }
    }
  }
}

// POKER ROOM
.poker-room {
  width: 100%;
  min-width: 350px;
  height: calc(100% - 5vh);
  background-image: url("public-served/back4.jpg");
  background-size: 400% 400%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  & .player-interface {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .circle {
      position: relative;
      display: flex;
      width: calc(100% - 3vh);
      height: calc(80% - 3vh);
      margin: 1.5vh;
      margin-top: 3vh;
      border-radius: 60%;
      border: double 0.3vh transparent;
      background-image: linear-gradient(0deg, #000, #272727), radial-gradient(circle at top right, $main, blueviolet);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      box-shadow: 0 0 0 0.75vh black, 0 0 0 0.9vh blueviolet;
      max-width: 150vh;
      & .table-components{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        & .communityCards {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25%;
          & .pot-size {
            & p {
              font-size: 3vh;
              color: white;
              font-family: "Zilla Slab";
            }
          }
        }
        & .button-row{
          display: flex;
          justify-content: flex-start;
          height: 4%;
          width: 100%;
          & .button {
            height: 3.75vh;
            display: none;
            margin-left: 22vw;
          }
        }
        & .dash {
          position: relative;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          height: 33%;
          & .villain-cards, .hero-cards {
            & .villain-private, .villain-public, .hero-private, .hero-public {
              padding: 0px;
              & .card {
                height: 12.75vh;
                -moz-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                &.card1 , &.card2, &.card3{
                  margin-left: -6vh;
                }
                &.to-muck{
                  transform: translate(300%, -100%);
                }
              }
            }
            &.highlighted{
              & .private img {
                box-shadow: 9.75vh 0vh 8vh 5.25vh whitesmoke;
              }
            }
          }
        }
        & .dash p {
          text-align: center;
        }
      }
    }
    & .hero-chat-btns {
      display: flex;
      width: 100%;
      height: 20%;
      max-height: 20%;
      overflow: hidden;
      & .chatBox{
        opacity: 50%;
        display: flex;
        flex-direction: column;
        border: 0.3vh solid $main;
        width: 30%;
        margin-right: 10%;
        height: calc(100% - 0.9vh);
        max-height: 100%;
        justify-content: center;
        overflow: hidden;
        & .chatText {
          display: flex;
          flex-direction: column;
          height: 80%;
          max-height: 80%;
          overflow-y: auto;
          width: 100%;
          font-family: "Zilla Slab";
          text-align: center;
          & .chatData {
            display: flex;
            width: 100%;
            padding-bottom: 0;
            padding-left: 4%;
            height: fit-content;
            padding-bottom: 0.5vh;
            align-items: center;
            & .chatUser, .chatOpponent {
              width: 10%;
              color: gray;
              font-size: 1.3vh;
              margin: 0;
              min-width: 10%;
              overflow-wrap: anywhere;
              text-align: initial;
            }
            & .chatOpponent {
              color: white;
            }
            & .chatMessage {
              padding-left: 1vw;
              padding-right: 1.3vw;
              color: white;
              font-size: 1.3vh;
              overflow-wrap: anywhere;
              margin: 0;
              height: inherit;
              text-align: initial;
            }
          }
        }
        & .chatInput {
          display: flex;
          height: 20%;
          min-height: 20%;
          width: 100%;
          border-top: 0.3vh solid $main;
          & .chatInputText {
            width: 80%;
            height: 100%;
            background-color: transparent;
            color: white;
            text-align: center;
            border: none;
            font-family: "Zilla Slab";
            font-size: 1.7vh;
          }
          & .chatInputText:focus{
            outline: none;
          }
          & .chatInputSend {
            width: 20%;
            height: 100%;
            cursor: pointer;
            background-color: $main;
            color: white;
            font-family: "Zilla Slab";
            border: none;
          }
        }
      }
      & .hero-actions-btn {
        position: relative;
        display: none;
        width: 20%;
        height: 100%;
        justify-content: center;
      }
      & .hero-actions-btn button {
        width: 100%;
        height: 100%;
        font-size: 3vh;
        padding: 1vh;
        border-radius: 1.5vh;
        color: white;
        background-color: black;
        text-decoration: none;
        text-transform: capitalize;
        overflow: hidden;
        font-family: "Zilla Slab";
        cursor: pointer;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
        white-space: nowrap;
        border: solid 0.01vw white;
        &:hover{
          background-color: white;
          border-color: transparent;
          color: black;
        }
      }
      & .hero-actions-btn .raiseValue {
        &:focus{
          border: solid 0.075vh white;
          outline: white;
        }
        -moz-appearance: textfield;
        border-radius: 10%;
        margin-left: 3vh;
        width: 7vw;
        height: 100%;
        font-size: 3vh;
        font-family: "Zilla Slab";
        background: black;
        color: white;
        border: none;
        text-align: center;
      }
      & .hero-actions-btn .raiseRange{
        width: 100%;
        height: 1.5vh;
        -webkit-appearance: none;
        background: black;
        outline: none;
        border-radius: 0.75vh;
        overflow: hidden;
        box-shadow: inset 0 0 0.75vh rgba(0, 0, 0, 1);
      }
    }
  }
  & .custom-message {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: none;
    justify-content: center;
    font-size: 3vh;
    color: white;
    font-family: "Zilla Slab";
  }
  & .rematch-overlay {
    height: calc(100% - 5vh);
    position: fixed;
    top: 5vh;
    display: none;
  }
  & .overlay-joker {
    background: rgba(128, 128, 128, 0.95);
    display: none;
    & .joker-popup {
      width: 50%;
      & .all-cards-div {
        overflow: auto;
        height: 7.5vw;
        & .minicard {
          height: 7.5vw;
          cursor: pointer;
        }
      }
    }
  }
  & .overlay-room {
    background: rgba(133, 133, 133, 0.7);
  }
}

// WebKit Poker Room elements

.raiseRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 0.075vh solid #333;
  box-shadow: -407px 0 0 400px white;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=checkbox] {
  accent-color: $main;
}

input[type=checkbox]:focus{
  outline: none;
}

::-webkit-scrollbar {
  width: 0.35vh;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet; 
  width: 100%;
}


// BASIC OVERLAY START
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  & .flexdots {
    display: flex;
    position:fixed;
    bottom: 45%;
    left: 50%;
    & .dot-carousel {
      position: relative;
      left: -9999px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 9984px 0 0 0 white, 9999px 0 0 0 white, 10014px 0 0 0 white;
      animation: dotCarousel 1.5s infinite linear;
    }
  }
  & .popup {
    display: flex;
    flex-direction: column;
    top: 44%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    & .content {
      max-height: 30%;
      margin-bottom: 2vh;
      font-size: 2.25vh;
      color: white;
      text-align: center;
      overflow:hidden;
      font-family: "Zilla Slab";
    }
    & .popupLinkDiv {
      display: flex;
      width: 100%;
      margin-bottom: 3.75vh;
      & .popupLink {
        padding: 0.3vh;
        background-color: rgb(120, 104, 122);
        color: white;
        font-size: 2.25vh;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 15%;
        font-family: "Zilla Slab";
      }
      text-align: center;
      justify-content: center;
      
    }
  }
}
// TRIPE DOTS ANIMATION FOR OVERLAYS
@keyframes dotCarousel {
  0% {
    box-shadow: 9984px 0 0 -1px white, 9999px 0 0 1px white, 10014px 0 0 -1px white;
  }
  50% {
    box-shadow: 10014px 0 0 -1px white, 9984px 0 0 -1px white, 9999px 0 0 1px white;
  }
  100% {
    box-shadow: 9999px 0 0 1px white, 10014px 0 0 -1px white, 9984px 0 0 -1px white;
  }
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

// SHARED
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.inactive-btn {
  pointer-events: none;
  background: lightgray !important;
}

.bet p{
  font-size: 2.25vh;
  color: white !important;
  font-family: "Zilla Slab";
  &.transparent {
    color: transparent !important;
  }
}

.clickable {
  cursor: pointer;
}

.stack p {
  font-size: 2.625vh;
  color: white !important;
  font-family: "Zilla Slab";
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & .to-clipboard{
    background-image: url("public-served/copy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 2vh;
  }
  &.communityCards{
    flex-wrap: wrap;
    & .card {
      height: 12.75vh;
    }
  }
  width: 100%;
}

// SMALLER SCREENS
@media screen and (max-width: 992px) {

  .welcome-page {
    & .rules {
      & li {
      }
    }
    & .depth_info {
      & .depthLabel {  
        font-size: 4vw;
      }
      & .depth-btns {
        & .depth-btn {
          font-size: 0.8em;
          margin-left: 0.7em;
        }
      }
    }
    & .form__group{
      padding: 1vh 0 0;
      margin-top: 1vh;
      & .form__field {
        font-size: 4vw;
        padding: 0.8vw 0;
      }
    }
    & .recycler{
      & .roomLabelItemList, .roomItemList{
        & .listItem{
          font-size: 2vh;
          padding-left: 0.4vw;
          }
        }
    }
    & .rumble-title {
      font-size: 2.25vh;
    }
    & .overlay-home{
      & .home-content {
        font-size: 1.95vh;
      }
    }
  }

  // POKER ROOM
  .poker-room {
    & .player-interface {
      & .circle {
        width: calc(100% - 3vh);
        height: calc(80% - 3vh);
        margin: 1.5vh;
        margin-top: 2.5vh;
        border: double 0.3vh transparent;
        box-shadow: 0 0 0 0.75vh black, 0 0 0 0.9vh blueviolet;
        border-radius: 50%;
        max-width: 150vh;
        & .table-components{
          & .communityCards {
            & .pot-size {
              & p {
                font-size: 2vh;
                color: white;
              }
            }
          }
          & .button-row{
            & .button {
              height: 3vh;
              margin-left: 29vw;
            }
          }
          & .dash {
            & .villain-cards, .hero-cards {
              & .villain-private, .villain-public, .hero-private, .hero-public {
                .card {
                  height: 11vh;
                  &.card1 , &.card2, &.card3{
                    margin-left: -5vh;
                  }
                }
              }
              & .highlighted{
                & .private img {
                  box-shadow: 12.75vw 0.75vw 11.25vw 1.5vw whitesmoke;
                }
              }
            }
          }
        }
      }
      & .hero-chat-btns {
        display: flex;
        width: 100%;
        height: 20%;
        & .chatBox{
          display: none;
        }
        & .hero-actions-btn {
          width: 100%;
          justify-content: center;
        }
        & .hero-actions-btn button {
          align-items: center;
          font-size: 2.4vh;
          padding: 0.8vh;
          border-radius: 25%;
          border: solid 0.025vw white;
        }
        & .hero-actions-btn .raiseValue {
          margin-left: 3vw;
          font-size: 3vh;
          border-radius: 25%;
          border: solid 0.0275vw white;
        }
        & .hero-actions-btn .raiseRange{
          border-radius: 3.75vw;
        }
      }
    }
    & .custom-message {
      font-size: 4.5vw;
    }

    & .overlay-joker {
      & .joker-popup {
        & .all-cards-div {
          height: 16.5vw;
          & .minicard {
            width: 25%;
            height: 100%;
          }
        }
      }
    }
  }

  .row {
    &.communityCards{
      & .card {
        height: 11vh;
      }
    }
  }
  .bet p{
    font-size: 3vh;
  }
  
  .stack p {
    font-size: 3vh;
  }

  .raiseRange::-webkit-slider-thumb {
    width: 4.5vw;
    height: 4.5vw;
  }
 

  .dot-carousel {
    width: 1.5vw;
    height: 1.5vw;
  }


  .rumble-title {
    font-size: 3.75vw;
  }

  .popup {
    & .content {
      font-size: 2.25vw;
      margin-bottom: 3.75vw;
    }
  }

  .overlay-home{
    & .home-content {
      font-size: 2.03vw;
    }
  }

  .start-game {
    line-height: 7.5vw;
    margin: 7.5vw;
    font-size: 2.25vw;
    width: 2.25em;
  }
}
